@charset "UTF-8";


/*Шрифты*/

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/montserrat-regular-webfont.woff2') format('woff2'),
    url('../assets/fonts/montserrat-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/montserrat-medium-webfont.woff2') format('woff2'),
    url('../assets/fonts/montserrat-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/montserrat-semibold-webfont.woff2') format('woff2'),
    url('../assets/fonts/montserrat-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/montserrat-bold-webfont.woff2') format('woff2'),
    url('../assets/fonts/montserrat-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/montserratalternates-light-webfont.woff2') format('woff2'),
    url('../assets/fonts/montserratalternates-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../assets/fonts/firasans-light-webfont.woff2') format('woff2'),
    url('firasans-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../assets/fonts/firasans-regular-webfont.woff2') format('woff2'),
    url('firasans-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../assets/fonts/firasans-medium-webfont.woff2') format('woff2'),
    url('../assets/fonts/firasans-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../assets/fonts/firasans-semibold-webfont.woff2') format('woff2'),
    url('../assets/fonts/firasans-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../assets/fonts/firasans-bold-webfont.woff2') format('woff2'),
    url('../assets/fonts/firasans-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../assets/fonts/firasans-extrabold-webfont.woff2') format('woff2'),
    url('../assets/fonts/firasans-extrabold-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*Переменные*/

:root {
  --nav-bar-color: #ffffff;
  --main-color: #f3f3f3;
  --text-color: #303030;
  --watching-color: #32cd32;
  --plan-to-watch-color: #fff5ee;
  --completed: #4169E1;
  --on-hold: #ffd700;
  --dropped: #cd5c5c;
}

/*--------------------*/

.page {
  font-family: 'Fira Sans';
  font-size: calc(10px + 0.5vw);
  background-color: var(--main-color);
}

.header {
  width: 100%;
  height: 70px;
  font-family: 'Montserrat';
  background-color: var(--nav-bar-color);
}

.header__container {
  height: 100%;
  max-width: 1200px;
  padding: 0 40px;
  margin: 0 auto;
}

.header__navigation {
  height: 100%;
  display: flex;
  align-items: center;
}

.header__logo {
  color: var(--text-color);
  font-weight: 500;
  font-size: calc(20px + 0.5vw);
  margin-right: auto;
}

.header__menu-icon {
  display: block;
  width: 30px;
  height: 18px;
  cursor: pointer;
}

.header__menu {}

.header__menu-items {}

.header__menu-item {}

.header__menu-link {}